
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
<!--    <ul><li><a href="sale">Sale list</a></li>-->
<!--        <li><a href="buyer">Buyer list</a></li>-->
<!--        <li><a href="part">Part list</a></li>-->
<!--        <li><a href="category">Category list</a></li>-->
<!--        <li><a href="manufacturer">Manufacturer list</a></li>-->
<!--    </ul>-->
    <title>Buyer Statistic</title>
</head>
<body>





<div th:switch="${sale}">

    <h2 th:case="null">No sales found!</h2>
    <div th:case="*">
        <h2>Statistic</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Part</th>
                <th>Count</th>
                <th>Buyer</th>
            </tr>
            <tbody>
            <tr th:each="sale : ${sale}">
                <td th:text="${sale.id}"></td>
                <td th:text="${sale.partId}"></td>
                <td th:text="${sale.count}"></td>
                <td th:text="${sale.buyerId}"></td>

            </tr>
            </tbody>
            </thead>

        </table>

    </div>


</div>
</body>
</html>